@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(0, 55, 0);
}
.sitename{
    font: 600;
    color: white;
    font-size: 30px;
}
.img1{
    background-color: green;
}
.container{
    background-color: green;
    border: 1px solid black;
    width: auto;
    height: auto;
}
.XD{
    color:white;
    display: flex;
    flex: column;
}
.pre-stuff{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.XD:hover{
    position: relative;
    bottom: 4px;
    color: chartreuse;
}
.stuff{
    color: chartreuse;
    background-color: green;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.stuff:hover{
    position: relative;
    bottom: 4px;
    color: blue;
}
.stuff_nb2:hover{
    position: relative;
    bottom: 4px;
    color: blue;
}
.stuff_nb2{
    color: chartreuse;
    background-color: green;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.end{
    background-color: rgb(0, 55, 0);
    color: white;
}
.rly_end{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.trash:hover{
    position: relative;
    bottom: 4px;
    color: blue;
}

